* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

#background {
  background: #e2e2e2c5;
  height: 100%;
}

body {
  margin-left: 130px;
  margin-right: 130px;
  height: 750px;
}

footer {
  height: 85px;
  width: 100%;
  background-color: #50b0c5;
  border-top: 9px rgba(0, 0, 0, 0.555) solid;
}
#main h1 {
  margin-left: 15px;
}

nav h1 {
  color: black;
  font-size: 25px;
  margin-right: 20px;
}

.navbar {
  background-color: #50b0c5 !important;
  height: 100px !important;
  color: white !important;
  font-size: 22px;
}
